<p><header class="subhead">
  <img src="assets/images/terraformer-geostore.png" alt="terraformer geostore">
  <h2>GeoStore</h2>
  <h3>
    <a href="/geostore/" class="button button-light">Documentation</a>
    <a href="/install/#geostore" class="button button-light">Get GeoStore</a>
  </h3>
</header></p>

<blockquote>
<p>A lightweight API that allows you to store, index and query geographic data.</p>
</blockquote>

<p>GeoStore is a lightweight API that allows you to store, index and query geographic data with a variety of indexes and persistence methods. Each GeoStore consists of&hellip;</p>

<ol>
<li><p>A <em>spatial index</em> which is responsible for indexing and optimizing the geographic data in the store.</p></li>
<li><p>A <em>data store</em> which is responsible for persisting data, either holding it in memory or persisting it to a backend database.</p></li>
<li><p>Any number of <em>secondary indexes</em> which index properties associated with your geographic data.</p></li>
</ol>
