<div class="drawer" id="drawer">
  <div class="doctoc drawer-nav drawer-top">
    <div class="container">
      <ul>
        <h3>Terraformer Documentation</h3>
        <li><a href="/getting-started/">Getting Started</a></li>

        <li><a href="/core/">Terraformer Core</a></li>
        <li class="indent"><a href="/core/#terraformerprimitive">Primitives</a></li>
        <li class="indent"><a href="/core/#terraformertools">Tools</a></li>

        <li><a href="/geostore/">GeoStores</a></li>
        <li class="indent"><a href="/geostore/data-stores/">DataStores</a></li>
        <li class="indent"><a href="/geostore/spatial-indexes/">Spatial Indexes</a></li>

        <li><a href="/arcgis-parser/">ArcGIS Parser</a></li>
        <li><a href="/wkt-parser/">WKT Parser</a></li>

        <li><a href="/glossary/">Glossary</a></li>
      </ul>
    </div>
  </div>
</div>