<header class="subhead">
  <img src="assets/images/terraformer-core.png" alt="terraformer core">
  <h2>Terraformer Core</h2>
  <h3>
    <a href="/core/" class="button button-light">Documentation</a>
    <a href="/install/#terraformer-core" class="button button-light">Get Core</a>
  </h3>
</header>

<blockquote>
<p>Tools and objects for working with and transforming GeoJSON.</p>
</blockquote>

<p>The core Terraformer library provides a series of <code>Terraformer.Primitives</code> which wrap GeoJSON objects for additional functionality and a series of <code>Terraformer.Tools</code> for manipulating and performing calculations on coordinates.</p>

<p>You can also use the core library to see if an object contains or intersects another object, convert an object to a different spatial reference, or transform an object&rsquo;s coordinates.</p>

<p>The core library is also used in most other components of Terraformer for performing basic tasks and calculations.</p>
