// The Terraformer Project
@import "compass";
@import "config";

@import "base/reset";
@import "base/mixins";
@import "base/typecabinet";
@import "base/typography";
@import "base/buttons";
@import "base/solarized-dark";

@import "layout/grid";
@import "layout/docs";

@import "modules/nav";
@import "modules/header";
@import "modules/icons";

.index a, .docs a.back-to-top-link {
  @include p9;
  border: none;
  color: darken($cream, 15);
  &:hover {
    color: darken($cream, 15);
  }
}

.index a, .docs a.header-link {
  @include p9;
  border: none;
  color: darken($cream, 15);
  &:hover {
    color: darken($cream, 15);
  }
}