$total-columns:     24 !default;
$container-width:   100% !default;
$container-max:     1280px !default;
$container-min:     0 !default;
$column-gutter:     1em !default;
$container-gutter:  1em !default;
$footer-height:     262px !default;
$generate-grid:     true !default;

$white:                 hsl(0, 0, 100); //#FFFFFF
$off-white:             hsl(0, 0, 98); //#F9F9F9
$lightest-gray:         hsl(0, 0, 93); //#EDEDED
$lighter-gray:          hsl(0, 0, 80); //#CCCCCC
$light-gray:            hsl(0, 0, 65); //#A6A6A6
$gray:                  hsl(0, 0, 50); //#808080
$dark-gray:             hsl(0, 0, 35); //#595959
$darker-gray:           hsl(0, 0, 20); //#333333
$darkest-gray:          hsl(0, 0, 12); //#1F1F1F
$off-black:             hsl(0, 0, 2);  //#050505
$black:                 hsl(0, 0, 0);  //#000000