.cover {
  background: $dark-blue;
  // height: 16*$baseline;
  padding: 3*$baseline 0 0;
  width: 100%;
  @include respond-to($tablet-mid) {
    padding-bottom: 0;
  }
  section {
    width: 65%;
    margin: auto;
  }
  h1 {
    padding: 0;
    width: 1em;
    margin: 20px 0 0 48px;
    float: left;
    background-color: $lightest-gray;
    font-size: 256px;
    border-radius: (0.5em);
    @include respond-to($tablet-mid) {
      font-size: 9em;
      margin: auto;
      text-align: center;
      float: none;
    }
  }
  h2 {
    @include p28-5;
    @include PTMono;
    color: $cream;
    padding-left: 9em;
    margin-top: 0;
    width: 45%;
    padding-top: 1*$baseline;
    @include respond-to($tablet-mid) {
      @include p18;
      padding-top: 1*$baseline;
      margin: auto;
      text-align: center;
      width: 100%;
      padding-left: 0;
    }
  }
  .cover-actions {
    padding-left: 21.5rem;
    padding-bottom: 3*$baseline;
    width: 45%;
  }
}