/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/


.c{color:#586e75;}
.cm{color:#586e75;}
.cp{color:#586e75;}
.c1{color:#586e75;}
.cs{color:#586e75;}
.err{color:#dc322f;}
.k{color:#cb4b16;}
.o{color:#93a1a1;}
.p{color:#93a1a1;}
.ow{color:#2aa198;}
.gd{color:#93a1a1;display:inline-block}
.gd .x{color:#93a1a1;display:inline-block}
.ge{color:#93a1a1;}
.gr{color:#aa0000}
.gh{color:#586e75;}
.gi{color:#93a1a1;display:inline-block}
.gi .x{color:#93a1a1;display:inline-block}
.go{color:#888888}
.gp{color:#555555}
.gs{color:#93a1a1;}
.gu{color:#6c71c4;}
.gt{color:#aa0000}
.kc{color:#859900;}
.kd{color:#268bd2;}
.kp{color:#cb4b16;}
.kr{color:#d33682;}
.kt{color:#2aa198;}
.n{color:#268bd2;}
.na{color:#268bd2;}
.nb{color:#859900;}
.nc{color:#d33682;}
.no{color:#b58900;}
.ni{color:#800080}
.nl{color:#859900;}
.ne{color:#268bd2;}
.nf{color:#268bd2;}
.nn{color:#b58900;}
.nt{color:#268bd2;}
.nx{color:#b58900;}
.bp{color:#999999}
.vc{color:#008080}
.vg{color:#268bd2;}
.vi{color:#268bd2;}
.nv{color:#268bd2;}
.w{color:#bbbbbb}
.mf{color:#2aa198;}
.m{color:#2aa198;}
.mh{color:#2aa198;}
.mi{color:#2aa198;}
.mo{color:#009999;}
.s{color:#2aa198;}
.sb{color:#d14}
.sc{color:#d14}
.sd{color:#2aa198;}
.s2{color:#2aa198;}
.se{color:#dc322f;}
.sh{color:#d14}
.si{color:#268bd2;}
.sx{color:#d14}
.sr{color:#2aa198;}
.s1{color:#2aa198;}
.ss{color:#990073}
.il{color:#009999}
div .gd,div .gd .x,div .gi,div .gi .x{display:inline-block;width:100%}