<div class="subnav">
  <div class="container">
    <% @pages.each do |page, i| %>
      <section>
        <a href="<%= page.url %>">
          <h4><%= page.data.title %></h4>
        </a>
      </section>
    <% end %>
  </div>
</div>