.container {
  max-width: $container-max;
}

aside.docs {
  float: left;
  width: $spine;
  padding-left: 0;
  // margin-right: $edge;
  margin-top: 6*$baseline;
}

.docs {
  h1, h2, h3, h4, h5, h6, p, {
    margin-right: 0;
  }
}

