.container {
  max-width: $container-max;
}

main.docs {
  section {
    padding-left: 0;
    padding-right: $edge;
  }
}

aside.docs {
  float: left;
  width: $edge;
  margin-right: $edge;
  margin-top: 6*$baseline;
}