<header class="cover">
  <section>
    <h1><span class="icon terraformer">terraformer</span></h1>
    <h2>A thing that does stuff to your data so you can map gooder.</h2>
    <div class="cover-actions">
      <a href="/getting-started/" class="button button-light">Getting Started</a>
      <a href="/install/" class="button button-light">Get Terraformer</a>
    </div>
  </section>
</header>