<nav>
  <ul>
    <li>
      <a href="/" class="">Terraformer</a>
    </li>
    <li>
      <a href="https://github.com/search?q=%40Esri+terraformer" class="">GitHub</a>
    </li>
    <li>
      <a href="/install" class="">Install</a>
    </li>
    <li>
      <a href="/"  data-direction="active-top" class="toggle" id="close-drawer">Docs</a>
    </li>
  </ul>
</nav>