<div class="subnav">
  <div class="container">
    <section class="core">
      <a href="#core">
        <h4>Core</h4>
      </a>
    </section>
    <section class="geostore">
      <a href="#geostore">
        <h4>
          Geostore
        </h4>
      </a>
    </section>
    <section class="arcgis-parser">
      <a href="#arcparser">
        <h4>
          ArcGIS Parser
        </h4>
      </a>
    </section>
    <section class="wkt-parcer">
      <a href="#wktparser">
        <h4>
          WKT Parser
        </h4>
      </a>
    </section>
  </div>
</div>