@import url(http://fonts.googleapis.com/css?family=Cardo:700,400italic);
@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
/* line 2, ../sass/_reset.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 9, ../sass/_reset.scss */
body {
  margin: 0;
}

/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 13, ../sass/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  zoom: 1;
}

/* line 14, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 15, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 22, ../sass/_reset.scss */
a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 3, ../sass/_typography.scss */
body {
  background-color: #eae8e5;
  color: #333333;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 10, ../sass/_typography.scss */
h1 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.54167rem;
  margin-bottom: -0.54167rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 13, ../sass/_typography.scss */
h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.66667rem;
  margin-bottom: -0.66667rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 16, ../sass/_typography.scss */
h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 19, ../sass/_typography.scss */
h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 22, ../sass/_typography.scss */
h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 25, ../sass/_typography.scss */
h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 30, ../sass/_typography.scss */
p, a {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  padding-bottom: 1.5rem;
}

/* line 35, ../sass/_typography.scss */
blockquote {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  margin-left: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 42, ../sass/_typography.scss */
b, strong {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* line 46, ../sass/_typography.scss */
em, cite {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 50, ../sass/_typography.scss */
small {
  font-size: 0.75rem;
  line-height: 1.16667rem;
}

/* line 57, ../sass/_typography.scss */
sub,
sup {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  padding-left: 0.08333rem;
  padding-right: 0.08333rem;
}

/* line 67, ../sass/_typography.scss */
sup {
  top: -0.5em;
}

/* line 71, ../sass/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 76, ../sass/_typography.scss */
pre {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.45833rem;
  margin-bottom: -0.45833rem;
  padding-top: 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 1.5rem;
}
/* line 83, ../sass/_typography.scss */
pre code {
  display: block;
  overflow: auto;
  word-wrap: normal;
}

/* line 90, ../sass/_typography.scss */
code {
  font-family: 'PT Mono', sans-serif;
  letter-spacing: 0.08333rem;
}

/* line 95, ../sass/_typography.scss */
pre {
  width: 62.5%;
}
@media screen and (max-width: 960px) {
  /* line 95, ../sass/_typography.scss */
  pre {
    width: 100%;
  }
}
/* line 100, ../sass/_typography.scss */
pre code {
  padding: 1.5rem;
  line-height: 1.125rem;
}

/* line 107, ../sass/_typography.scss */
ul, ol {
  margin-bottom: 1.16667rem;
}
/* line 109, ../sass/_typography.scss */
ul li:first-child, ol li:first-child {
  margin-top: 0.33333rem;
}
/* line 110, ../sass/_typography.scss */
ul ul, ul ol, ol ul, ol ol {
  margin-top: -0.5rem;
}
/* line 112, ../sass/_typography.scss */
ul ul li:first-child, ul ol li:first-child, ol ul li:first-child, ol ol li:first-child {
  margin-top: 0.5rem;
}
/* line 114, ../sass/_typography.scss */
ul ol, ol ol {
  list-style-type: lower-alpha;
}

/* line 118, ../sass/_typography.scss */
nav ul li:first-child, nav ol li:first-child {
  margin-top: 0;
}

/* line 122, ../sass/_typography.scss */
dl {
  margin-top: 0;
}
/* line 124, ../sass/_typography.scss */
dl dt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
}
/* line 128, ../sass/_typography.scss */
dl dd {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
}

/* line 135, ../sass/_typography.scss */
dl.horizontal {
  padding-top: 0.5rem;
}
/* line 138, ../sass/_typography.scss */
dl.horizontal dt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  float: left;
}
/* line 143, ../sass/_typography.scss */
dl.horizontal dd {
  margin-left: 12rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
}

@font-face {
  font-family: 'esri-logo';
  src: url("../fonts/esri-logo.eot");
  src: url("../fonts/esri-logo.eot?#iefix") format("embedded-opentype"), url("../fonts/esri-logo.woff") format("woff"), url("../fonts/esri-logo.ttf") format("truetype"), url("../fonts/esri-logo.svg#esri-Set") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../sass/_icons.scss */
.icon {
  font-family: 'esri-logo';
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #6d6e71;
}

/* line 27, ../sass/_icons.scss */
.terraformer {
  /*color: #267a40;*/
  color: rgba(38, 122, 64, 0.5);
  /*opacity: 0.5;*/
}

/* line 32, ../sass/_icons.scss */
.terraformer:after {
  content: "terraformerfront";
  color: #000000;
  opacity: 0.5;
  margin-left: -1em;
}

/* line 38, ../sass/_icons.scss */
.terraformer:before {
  content: "terraformerback";
  color: #912a1d;
  opacity: 0.7;
  margin-right: -1em;
}

/* line 46, ../sass/_icons.scss */
nav .terraformer {
  /*color: #267a40;*/
  color: rgba(38, 122, 64, 0.5);
  /*opacity: 0.5;*/
}
/* line 51, ../sass/_icons.scss */
nav .terraformer:after {
  content: "terraformerfront";
  color: #000000;
  opacity: 0.5;
  margin-left: -1.04em;
}
/* line 57, ../sass/_icons.scss */
nav .terraformer:before {
  content: "terraformerback";
  color: #912a1d;
  opacity: 0.7;
  margin-right: -1.04em;
}

/* line 1, ../sass/_buttons.scss */
.button {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.45833rem;
  margin-bottom: -0.45833rem;
  padding: 0.5rem 1rem;
  background-color: #595959;
  color: white;
  border: 1px solid #404040;
  text-decoration: none;
}
/* line 11, ../sass/_buttons.scss */
.button:hover {
  color: white;
  background-color: #404040;
}
/* line 15, ../sass/_buttons.scss */
.button.button-light {
  background-color: #a6a6a6;
  border: 1px solid #8c8c8c;
}
/* line 18, ../sass/_buttons.scss */
.button.button-light:hover {
  color: white;
  background-color: #92bc9f;
  border: 1px solid #72a983;
}
/* line 24, ../sass/_buttons.scss */
.button.button-green {
  background-color: #92bc9f;
  border: 1px solid #72a983;
}
/* line 27, ../sass/_buttons.scss */
.button.button-green:hover {
  background-color: #72a983;
}
/* line 31, ../sass/_buttons.scss */
.button.button-blue {
  background-color: #7eb3fe;
  border: 1px solid #4b95fe;
}
/* line 34, ../sass/_buttons.scss */
.button.button-blue:hover {
  background-color: #4b95fe;
}
/* line 38, ../sass/_buttons.scss */
.button.button-red {
  background-color: #b26a61;
  border: 1px solid #975249;
}
/* line 41, ../sass/_buttons.scss */
.button.button-red:hover {
  background-color: #975249;
}
/* line 46, ../sass/_buttons.scss */
.button.button-disabled, .button.button:disabled {
  background-color: #ededed;
  border: 1px solid #d4d4d4;
  color: #a6a6a6;
}
/* line 50, ../sass/_buttons.scss */
.button.button-disabled:hover, .button.button:disabled:hover {
  background-color: #ededed;
}
/* line 54, ../sass/_buttons.scss */
.button.button-cancel {
  background-color: gray;
  border: 1px solid #666666;
}
/* line 57, ../sass/_buttons.scss */
.button.button-cancel:hover {
  background-color: #666666;
}

/* line 1, ../sass/layout/_grid.scss */
.index, .docs {
  max-width: 1280px;
  margin: auto;
}
/* line 5, ../sass/layout/_grid.scss */
.index section, .docs section {
  padding-top: 3rem;
  padding-left: 18.75%;
  width: 62.5%;
}
@media screen and (max-width: 960px) {
  /* line 5, ../sass/layout/_grid.scss */
  .index section, .docs section {
    padding-left: 18.75%;
    padding-right: 18.75%;
  }
}
@media screen and (max-width: 662px) {
  /* line 5, ../sass/layout/_grid.scss */
  .index section, .docs section {
    padding-left: 9.375%;
    padding-right: 9.375%;
  }
}
/* line 18, ../sass/layout/_grid.scss */
.index section .subhead, .docs section .subhead {
  overflow: hidden;
  *zoom: 1;
  background-color: transparent;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
/* line 23, ../sass/layout/_grid.scss */
.index section .subhead h2, .docs section .subhead h2 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.54167rem;
  margin-bottom: -0.54167rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  padding-top: 6rem;
  padding-left: 4rem;
  margin-bottom: -0.91667rem;
  line-height: 3rem;
  width: 31.25%;
  margin-left: 31.25%;
}
@media screen and (max-width: 960px) {
  /* line 23, ../sass/layout/_grid.scss */
  .index section .subhead h2, .docs section .subhead h2 {
    padding-top: 1.5rem;
    width: 20.625%;
    margin-left: 41.25%;
  }
}
/* line 39, ../sass/layout/_grid.scss */
.index section .subhead h3, .docs section .subhead h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  padding-left: 4rem;
  width: 31.25%;
  margin-left: 31.25%;
}
@media screen and (max-width: 960px) {
  /* line 39, ../sass/layout/_grid.scss */
  .index section .subhead h3, .docs section .subhead h3 {
    width: 20.625%;
    margin-left: 41.25%;
  }
}
/* line 50, ../sass/layout/_grid.scss */
.index section .subhead img, .docs section .subhead img {
  width: 31.25%;
  margin: auto;
  float: left;
  display: inline;
}
@media screen and (max-width: 960px) {
  /* line 50, ../sass/layout/_grid.scss */
  .index section .subhead img, .docs section .subhead img {
    width: 41.25%;
  }
}
/* line 61, ../sass/layout/_grid.scss */
.index section h4, .docs section h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
}
/* line 66, ../sass/layout/_grid.scss */
.index section p, .docs section p {
  width: 62.5%;
}
@media screen and (max-width: 960px) {
  /* line 66, ../sass/layout/_grid.scss */
  .index section p, .docs section p {
    width: 100%;
  }
}
/* line 73, ../sass/layout/_grid.scss */
.index section blockquote, .docs section blockquote {
  float: right;
  max-width: 37.5%;
  padding-top: 1rem;
}
@media screen and (max-width: 960px) {
  /* line 73, ../sass/layout/_grid.scss */
  .index section blockquote, .docs section blockquote {
    float: none;
    max-width: 100%;
    padding-bottom: 0;
    text-align: center;
  }
}
/* line 84, ../sass/layout/_grid.scss */
.index section blockquote p, .docs section blockquote p {
  color: #589069;
  font-family: 'PT Mono', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  max-width: 100%;
  min-width: 0;
  line-height: 2.25rem;
  padding-left: 2em;
}
@media screen and (max-width: 960px) {
  /* line 84, ../sass/layout/_grid.scss */
  .index section blockquote p, .docs section blockquote p {
    padding-left: 0;
  }
}
/* line 98, ../sass/layout/_grid.scss */
.index section a, .docs section a {
  color: #b26a61;
  border-bottom: 1px dashed #b26a61;
  padding-bottom: 0.25rem;
  text-decoration: none;
}
/* line 103, ../sass/layout/_grid.scss */
.index section a:hover, .docs section a:hover {
  color: #d3aba6;
  border-bottom: 1px dashed #d3aba6;
}
/* line 108, ../sass/layout/_grid.scss */
.index section .button-light, .docs section .button-light {
  color: white;
}
/* line 112, ../sass/layout/_grid.scss */
.index section aside, .docs section aside {
  width: 18.75%;
}

/* line 119, ../sass/layout/_grid.scss */
.docs aside {
  width: 18.75%;
  padding-left: 18.75%;
  float: left;
  padding-top: 4.5rem;
}
/* line 126, ../sass/layout/_grid.scss */
.docs main {
  overflow: hidden;
  *zoom: 1;
  width: 62.5%;
  padding-top: 4.5rem;
}
/* line 133, ../sass/layout/_grid.scss */
.docs p {
  width: 62.5%;
}
/* line 137, ../sass/layout/_grid.scss */
.docs img {
  width: 31.25%;
  margin-left: 18.75%;
  display: block;
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  /* line 137, ../sass/layout/_grid.scss */
  .docs img {
    width: 41.25%;
  }
}

/* line 1, ../sass/layout/_nav.scss */
nav {
  left: 0;
  right: 0;
  background: #1d2d42;
  position: fixed;
  padding-bottom: 0.5rem;
}
/* line 7, ../sass/layout/_nav.scss */
nav ul {
  margin: auto;
  max-width: 1280px;
  padding-bottom: 0.25rem;
  padding-right: 9.375%;
}
/* line 12, ../sass/layout/_nav.scss */
nav ul li {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.08333rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.58333rem;
  margin-bottom: -0.58333rem;
  display: inline;
  float: right;
  padding: 0.5rem 0.5rem;
}
/* line 20, ../sass/layout/_nav.scss */
nav ul li:first-child {
  float: left;
  padding-left: 18.75%;
}
@media screen and (max-width: 662px) {
  /* line 20, ../sass/layout/_nav.scss */
  nav ul li:first-child {
    padding-left: 9.375%;
  }
}
/* line 27, ../sass/layout/_nav.scss */
nav ul li a {
  color: #fafafa;
  text-decoration: none;
  padding-bottom: 0.08333rem;
}
/* line 31, ../sass/layout/_nav.scss */
nav ul li a:hover {
  color: #92bc9f;
  border-bottom: 1px dashed #92bc9f;
}

/* line 40, ../sass/layout/_nav.scss */
.subnav {
  background-color: #1d2d42;
  overflow: hidden;
  *zoom: 1;
}
/* line 43, ../sass/layout/_nav.scss */
.subnav .container {
  max-width: 1280px;
  margin: auto;
}
/* line 47, ../sass/layout/_nav.scss */
.subnav section {
  text-align: center;
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
}
/* line 54, ../sass/layout/_nav.scss */
.subnav h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  padding: 0.75rem 0 1.125rem 0;
}
/* line 58, ../sass/layout/_nav.scss */
.subnav h4:hover {
  background-color: #0d151f;
}
/* line 62, ../sass/layout/_nav.scss */
.subnav a {
  width: 100%;
  margin: 0.75rem 0;
  color: #ededed;
  text-decoration: none;
}
/* line 68, ../sass/layout/_nav.scss */
.subnav a:hover {
  color: #ededed;
  background-color: #0d151f;
}

/* line 75, ../sass/layout/_nav.scss */
footer {
  margin: 0;
  padding-top: 4.5rem;
  padding-bottom: 0;
  width: 100%;
  color: white;
  background-color: #1f1f1f;
  text-align: center;
}
/* line 83, ../sass/layout/_nav.scss */
footer p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.45833rem;
  margin-bottom: -0.45833rem;
}

/* line 1, ../sass/layout/_header.scss */
header.cover {
  background: #39567f;
  padding: 4.5rem 0 0 0;
}
/* line 5, ../sass/layout/_header.scss */
header.cover h1 {
  padding: 0;
  margin: auto;
  width: 1em;
  background-color: #ededed;
  font-size: 18em;
  text-align: center;
  border-radius: 0.5em;
}
@media screen and (max-width: 960px) {
  /* line 5, ../sass/layout/_header.scss */
  header.cover h1 {
    font-size: 9em;
  }
}
/* line 17, ../sass/layout/_header.scss */
header.cover h2 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.54167rem;
  margin-bottom: -0.54167rem;
  font-family: 'PT Mono', sans-serif;
  color: #eae8e5;
  width: 41.25%;
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 4.5rem;
  text-align: center;
}
@media screen and (max-width: 960px) {
  /* line 17, ../sass/layout/_header.scss */
  header.cover h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 0;
    padding-top: 0.25rem;
    margin-bottom: -0.25rem;
    padding-top: 1.5rem;
  }
}

/* line 1, ../sass/layout/_docs.scss */
.container {
  max-width: 1280px;
}

/* line 6, ../sass/layout/_docs.scss */
main.docs section {
  padding-left: 0;
  padding-right: 18.75%;
}

/* line 12, ../sass/layout/_docs.scss */
aside.docs {
  float: left;
  width: 18.75%;
  margin-right: 18.75%;
  margin-top: 9rem;
}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
/* line 7, ../sass/_solarized-dark.scss */
pre code {
  display: block;
  background: #002b36;
  color: #839496;
}

/* line 18, ../sass/_solarized-dark.scss */
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #586e75;
  font-style: italic;
}

/* line 30, ../sass/_solarized-dark.scss */
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}

/* line 42, ../sass/_solarized-dark.scss */
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .rules .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

/* line 54, ../sass/_solarized-dark.scss */
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl .literal,
pre .id,
pre .css .function {
  color: #268bd2;
}

/* line 65, ../sass/_solarized-dark.scss */
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}

/* line 81, ../sass/_solarized-dark.scss */
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title,
pre .css .pseudo {
  color: #cb4b16;
}

/* line 85, ../sass/_solarized-dark.scss */
pre .deletion {
  color: #dc322f;
}

/* line 89, ../sass/_solarized-dark.scss */
pre .tex .formula {
  background: #073642;
}
