main {
  max-width: $container-max;
  margin: auto;
}

section {
  padding-left: $edge;
  h2 {
    @include p18;
    @include OpenBold;
    padding-top: 11*$p;
    margin-bottom:  -11*$p;
    line-height: 2*$baseline;
    width: $measure;
    // min-width: 28rem;
  }
  h3 {
    @include OpenBold;
    @include p13-5;
    margin-top: 1*$baseline;
    float: right;
    margin-right: $spine;
    padding-right:
    a {

    }
  }
  h4 {
    @include OpenBold;
    @include p13-5;
    // margin-bottom: 1*$baseline;
  }
  p {
    width: $measure;
    // min-width: 28rem;
  }
  blockquote {
    float: right;
    max-width: $spine;
    padding-top: 12*$p;
    // padding-left:
    p {
      @include CardoItalic;
      @include p18;
      max-width: $container-width;
      min-width: 0;
      line-height: 1.5*$baseline;
      // padding-right: 2em;
      padding-left: 2em;
    }
  }
}