header {
  background-color: $lightest-gray;
  height: 2*$baseline;
  padding: 5*$baseline;
  h1 {
    @include upperCase;
    @include narrowTrack;
    @include OpenBold;
    @include p18;
    text-align: center;
  }
}