header {

  background: linear-gradient(color-stops(darken($darker-blue, 10%), $darker-blue));
  // height: 16*$baseline;
  padding: 10*$baseline;
  h1 {
    // @include upperCase;
    // @include narrowTrack;
    // @include OpenBold;
    // @include p18;
    text-align: center;
  }
}