// Baseline -----------

body {
  background-color: $cream;
  color: $darker-gray;
  @include Lucida;
}

// Headers ------------
h1 {@include p28-5; @include Open;
  padding-bottom: 1*$baseline;
}
h2 {@include p24; @include Open;
  padding-bottom: 1*$baseline;
}
h3 {@include p18; @include Open;
  padding-bottom: 1*$baseline;
}
h4 {@include p13-5; @include Open;
  padding-bottom: 1*$baseline;
}
h5 {@include p13-5; @include Open;
  padding-bottom: 1*$baseline;
}
h6 {@include p12; @include OpenBold;
  padding-bottom: 1*$baseline;
}

// Basic Copy ------------
p, a {
  @include p12;
  padding-bottom: 1*$baseline;
}

blockquote {
  @include p12;
  margin-left: 0;
  padding-top: 1*$baseline;
  padding-bottom: 1*$baseline;
}

b, strong {
  @include OpenBold;
}

em, cite {
  @include OpenItalic;
}

small {
  font-size: 9*$point;
  line-height: 14*$point;
}

// Superscript and Subscript ---------------------------------------------------
sub,
sup {
  @include OpenBold;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  padding-left: 1*$point;
  padding-right: 1*$point;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

// Code Block ------------
pre {;
  @include p10-5;
  padding-top: 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 1*$baseline;
  code {
    display: block;
    overflow: auto;
    word-wrap: normal;
  }
}

code {
  @include PTMono;
  @include narrowTrack;
  // padding: 1*$baseline;
}
pre {
  width: $measure;
  @include respond-to($tablet-mid) {
    width: 100%;
  }
  code {
    padding: 1*$baseline;
    line-height: 0.75*$baseline;
  }
}

// Lists --------------
ul, ol {
  margin-bottom: 14*$p;
  li:first-child{margin-top: 4*$point;}
  ul, ol {
    margin-top: -6*$point;
    li:first-child{margin-top: 6*$point;}
  }
  ol {list-style-type:lower-alpha}
}
nav {
  ul, ol {
    li:first-child{margin-top: 0;}
  }
}

dl {
  margin-top: 0;
  dt {
    @include Open;
    @include p13-5;
  }
  dd {
    margin: 0;
    @include p12;

  }
}

dl.horizontal {
  // @include clearfix;
  padding-top: 6*$p;
  dt {
    @include Open;
    @include p13-5;
    float: left;
  }
  dd {
    margin-left: 12*$pica;
    @include p12;
  }
}