@import url(http://fonts.googleapis.com/css?family=Cardo:700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
/* line 2, ../sass/_reset.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 9, ../sass/_reset.scss */
body {
  margin: 0;
}

/* line 12, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 13, ../sass/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  zoom: 1;
}

/* line 14, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 15, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 22, ../sass/_reset.scss */
a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 11, ../sass/_typecabinet.scss */
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, #e1f0fb), color-stop(5%, rgba(225, 240, 251, 0)));
  background-image: -webkit-linear-gradient(bottom, #e1f0fb 5%, rgba(225, 240, 251, 0) 5%);
  background-image: -moz-linear-gradient(bottom, #e1f0fb 5%, rgba(225, 240, 251, 0) 5%);
  background-image: -o-linear-gradient(bottom, #e1f0fb 5%, rgba(225, 240, 251, 0) 5%);
  background-image: linear-gradient(bottom, #e1f0fb 5%, rgba(225, 240, 251, 0) 5%);
  -webkit-background-size: 100% 1.5rem;
  -moz-background-size: 100% 1.5rem;
  -o-background-size: 100% 1.5rem;
  background-size: 100% 1.5rem;
  background-position: left top;
}

/* line 3, ../sass/_typography.scss */
body {
  color: #1f1f1f;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 9, ../sass/_typography.scss */
h1 {
  font-size: 2.375rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.54167rem;
  margin-bottom: -0.54167rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 12, ../sass/_typography.scss */
h2 {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 0;
  padding-top: 0.66667rem;
  margin-bottom: -0.66667rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 15, ../sass/_typography.scss */
h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-bottom: 1.5rem;
}

/* line 18, ../sass/_typography.scss */
h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 19, ../sass/_typography.scss */
h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 20, ../sass/_typography.scss */
h6 {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.45833rem;
  margin-bottom: -0.45833rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 23, ../sass/_typography.scss */
p, a {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  padding-bottom: 1.5rem;
}

/* line 28, ../sass/_typography.scss */
blockquote {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
  margin-left: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 37, ../sass/_typography.scss */
b, strong {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* line 41, ../sass/_typography.scss */
em, cite {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* line 45, ../sass/_typography.scss */
small {
  font-size: 0.75rem;
  line-height: 1.16667rem;
}

/* line 55, ../sass/_typography.scss */
sub,
sup {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  padding-left: 0.08333rem;
  padding-right: 0.08333rem;
}

/* line 65, ../sass/_typography.scss */
sup {
  top: -0.5em;
}

/* line 69, ../sass/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 74, ../sass/_typography.scss */
pre {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.45833rem;
  margin-bottom: -0.45833rem;
  padding-top: 0;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 1.5rem;
}
/* line 81, ../sass/_typography.scss */
pre code {
  display: block;
  overflow: auto;
  word-wrap: normal;
}

/* line 89, ../sass/_typography.scss */
ul, ol {
  margin-bottom: 1.16667rem;
}
/* line 91, ../sass/_typography.scss */
ul li:first-child, ol li:first-child {
  margin-top: 0.33333rem;
}
/* line 92, ../sass/_typography.scss */
ul ul, ul ol, ol ul, ol ol {
  margin-top: -0.5rem;
}
/* line 94, ../sass/_typography.scss */
ul ul li:first-child, ul ol li:first-child, ol ul li:first-child, ol ol li:first-child {
  margin-top: 0.5rem;
}
/* line 96, ../sass/_typography.scss */
ul ol, ol ol {
  list-style-type: lower-alpha;
}

/* line 100, ../sass/_typography.scss */
nav ul li:first-child, nav ol li:first-child {
  margin-top: 0;
}

/* line 104, ../sass/_typography.scss */
dl {
  margin-top: 0;
}
/* line 106, ../sass/_typography.scss */
dl dt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
}
/* line 110, ../sass/_typography.scss */
dl dd {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
}

/* line 117, ../sass/_typography.scss */
dl.horizontal {
  padding-top: 0.5rem;
}
/* line 120, ../sass/_typography.scss */
dl.horizontal dt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  float: left;
}
/* line 125, ../sass/_typography.scss */
dl.horizontal dd {
  margin-left: 12rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.33333rem;
  margin-bottom: -0.33333rem;
}

/* line 1, ../sass/layout/_grid.scss */
main {
  max-width: 1280px;
  margin: auto;
}

/* line 6, ../sass/layout/_grid.scss */
section {
  padding-top: 3rem;
  padding-left: 18.75%;
}
/* line 11, ../sass/layout/_grid.scss */
section h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  padding-top: 0.91667rem;
  margin-bottom: -0.91667rem;
  line-height: 3rem;
  width: 62.5%;
}
/* line 20, ../sass/layout/_grid.scss */
section h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
  margin-top: 1.5rem;
  float: right;
  margin-right: 37.5%;
}
/* line 30, ../sass/layout/_grid.scss */
section h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.375rem;
  margin-bottom: -0.375rem;
}
/* line 35, ../sass/layout/_grid.scss */
section p {
  width: 62.5%;
}
/* line 39, ../sass/layout/_grid.scss */
section blockquote {
  float: right;
  max-width: 37.5%;
  padding-top: 1rem;
}
/* line 44, ../sass/layout/_grid.scss */
section blockquote p {
  font-family: 'Cardo', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  max-width: 100%;
  min-width: 0;
  line-height: 2.25rem;
  padding-left: 2em;
}

/* line 1, ../sass/layout/_nav.scss */
nav {
  left: 0;
  right: 0;
  background: transparent;
  position: fixed;
}
/* line 8, ../sass/layout/_nav.scss */
nav ul {
  margin: auto;
  max-width: 1280px;
  padding-bottom: 0.25rem;
}
/* line 12, ../sass/layout/_nav.scss */
nav ul li {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  letter-spacing: 0.08333rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.58333rem;
  margin-bottom: -0.58333rem;
  display: inline;
  float: right;
  padding: 0.5rem 1rem;
}
/* line 20, ../sass/layout/_nav.scss */
nav ul li:first-child {
  float: left;
}

/* line 27, ../sass/layout/_nav.scss */
footer {
  margin: 0;
  width: 100%;
  color: white;
  background-color: #1f1f1f;
  text-align: center;
}

/* line 1, ../sass/layout/_header.scss */
header {
  background-color: #ededed;
  padding: 15rem;
}
/* line 5, ../sass/layout/_header.scss */
header h1 {
  text-transform: uppercase;
  letter-spacing: 0.08333rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 0;
  padding-top: 0.25rem;
  margin-bottom: -0.25rem;
  text-align: center;
}

/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
/* line 7, ../sass/_solarized-dark.scss */
pre code {
  display: block;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

/* line 18, ../sass/_solarized-dark.scss */
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #586e75;
  font-style: italic;
}

/* line 30, ../sass/_solarized-dark.scss */
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}

/* line 42, ../sass/_solarized-dark.scss */
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .rules .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

/* line 54, ../sass/_solarized-dark.scss */
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl .literal,
pre .id,
pre .css .function {
  color: #268bd2;
}

/* line 65, ../sass/_solarized-dark.scss */
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}

/* line 81, ../sass/_solarized-dark.scss */
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title,
pre .css .pseudo {
  color: #cb4b16;
}

/* line 85, ../sass/_solarized-dark.scss */
pre .deletion {
  color: #dc322f;
}

/* line 89, ../sass/_solarized-dark.scss */
pre .tex .formula {
  background: #073642;
}
