---
title: Project Home
layout: default
---

# The Terraformer Project
<a href="/documentation/getting-started" class="button button-light">Getting Started</a> <a href="https://github.com/Esri/Terraformer" class="button button-light">Full Project on Github</a>

> Terraformer will get your dang Grandma mapping

Terraformer is an open source (MIT licensed) Javascript geo toolkit, built for the server and the browser. Terraformer is designed to provide a robust set of tools for working with and manupulate GeoJSON, WKT, and ArcJSON geomotries and objects.

Gizipped and minified all Terraformer modules comes to about 9.6kb. The core library is 2.8kb and includes GeoJSON parsing, helper methods, bounding boxes and spatial reference conversions. Other features are available as add-in modules as needed.

[Terraformer Project Documentation](/)

<a id="core"></a>
<%= partial "partials/index_partials/terraformer_core" %>

<a id="geostore"></a>
<%= partial "partials/index_partials/geostore" %>

<a id="arcparser"></a>
<%= partial "partials/index_partials/arcgis_parser" %>

<a id="wktparser"></a>
<%= partial "partials/index_partials/wkt_parser" %>